<mat-card class="w-full h-full mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Sign up </mat-card-title>
    <mat-card-subtitle>at Twitter</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field>
        <input
          matInput
          placeholder="full name"
          formControlName="fullName"
          autocomplete="false"
        />
        <mat-error>{{ getErrorMsg(form.get("fullName")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="username"
          formControlName="username"
          autocomplete="false"
        />
        <mat-error>{{ getErrorMsg(form.get("username")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="email"
          formControlName="email"
          autocomplete="false"
        />
        <mat-error>{{ getErrorMsg(form.get("email")) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="birth date"
          [matDatepicker]="picker"
          formControlName="birthDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-error>{{ getErrorMsg(form.get("birthDate")) }}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="password"
          [type]="hidden ? 'password' : 'text'"
          formControlName="password"
          autocomplete="false"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="hidden = !hidden"
        >
          <mat-icon>
            {{ hidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error>{{ getErrorMsg(form.get("password")) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="repeat password"
          [type]="rHidden ? 'password' : 'text'"
          formControlName="repeatedPassword"
          autocomplete="false"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="rHidden = !rHidden"
        >
          <mat-icon>
            {{ rHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error>{{ getErrorMsg(form.get("repeatedPassword")) }}</mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        type="submit"
      >
        Sign Up
      </button>
    </form>
  </mat-card-content>

    <div class="horizontal-divider"></div>
  <mat-card-footer class="bg-blue-50">
    allready have an account?
    <button mat-button color="primary" routerLink="/account/sign-in">
      sign in
    </button>
  </mat-card-footer>
</mat-card>
