form{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
mat-card-footer{
  background-color:aliceblue;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5px 15px;
}

