<div class="w-full h-16  lg:h-full md:h-full flex justify-center">
  <div
    class="flex justify-evenly w-full md:flex-col md:items-start md:justify-start md:w-max"
  >
    <button
      class="overflow-hidden icon hidden md:flex justify-start items-center"
      color="primary"
    >
      <img src="assets/twitter48.svg" style="height: 90%"/>
      <div class="text-3xl font-bold font-[Playball]">Tweeter</div>
    </button>
    <button
      matRipple
      class="rounded-full hover:bg-aliceblue duration-300 transition-all ease-in-out p-4 md:py-3 md:px-6 md:text-lg md:m-1 flex justify-center items-center"
      [routerLink]="navOption.route"
      *ngFor="let navOption of navList"
      [class.selected]="isSelected(navOption.route)"
    >
      <div
      [matBadge]="notificationService.notificationAlartCount$|async"
      [matBadgeHidden]="navOption.title!='Notification' || (notificationService.notificationAlartCount$|async) === 0"
      >
      <fa-icon [icon]="navOption.icon" class="text-xl"></fa-icon>
      <span class="h-min ml-3 hidden lg:inline-block md:inline-block">
        {{ navOption.title }}
      </span>
      </div>
    </button>
    <div class="md:pb-4 flex flex-col justify-center md:justify-end items-center md:flex-1 ">
      <a
        matRipple
        class="cursor-pointer h-max w-full bg-primary p-[2px] md:p-2 rounded-full justify-center items-center flex"
        [routerLink]="'/home/profile/'+user.id"
      >
        <div class="avatar w-12 h-min cursor-pointer">
          <div class="font-bold text-lg">
            {{ user.fullName[0] }}
          </div>
        </div>
        <div class="hidden md:block mx-2">
          <div class="font-bold text-lg text-white line-clamp-1">
            {{ user.fullName.slice(0,14) }}
            {{user.fullName.length>14?'...':''}}
          </div>
          <div class="text-white">@{{ user.userName }}</div>
        </div>
      </a>
    </div>
  </div>
</div>
