<div class="w-full h-16 lg:h-full md:h-full flex justify-center">
  <div class="flex justify-evenly w-full md:flex-col lg:flex-col lg:items-start md:items-start lg:justify-start md:justify-start lg:w-max md:w-max">
    <button class="icon hidden lg:block md:block" color="primary">
      <img src="assets/twitter48.svg" style="width: 35px" />
    </button>
    <button
      *ngFor="let navOption of navList"
      matRipple
      class="rounded-full  p-4 lg:py-3 lg:px-6 lg:m-1 flex justify-start items-center"
      [routerLink]="navOption.route"
      [class.selected]="isSelected(navOption.route)"
    >
      <fa-icon [icon]="navOption.icon" class="text-lg"></fa-icon> 
      <span class="h-min ml-2 hidden lg:inline-block md:inline-block">
        {{ navOption.title }}
      </span>
    </button>
    <button
      color="primary"
      class="my-button hidden lg:block"
      style="color: white; width: 100%; justify-content: center"
    >
      Tweet
    </button>

  </div>
</div>
