<div class="container bg-white h-screen overflow-hidden relative">
  <mat-toolbar class="appbar glass">
    <div class="searchbox">
      <input type="text" placeholder="Search" />
      <button mat-icon-button matSuffix color="primary" class="ml-2">
        <mat-icon color="primary">search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="h-screen overflow-scroll"></div>
</div>
<!-- class="bg-[aliceblue] w-full rounded-3xl py-2 px-4 active:outline-none active:border-none" -->
