<div class="home-container">
  <div class="w-full border-b border-b-gray-300 absolute top-16 lg:top-0 md:top-0 z-50">

  <mat-toolbar class="glass">
    <div class="searchbox">
      <input type="text" placeholder="Search" [(ngModel)]="searchText" />
      <button
        mat-icon-button
        matSuffix
        color="primary"
        class="ml-2"
        (click)="search()"
      >
        <mat-icon color="primary">search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  </div>
  <div *ngIf="isTweetSearch; then tweet; else user"></div>
</div>

<ng-template #tweet>
  <div class="home-content mt-16" *ngIf="tweetModels$ | async as tweetModels">
    <app-tweet-view
      *ngFor="let tweetModel of tweetModels"
      [tweetModel]="tweetModel"
    ></app-tweet-view>
  </div>
</ng-template>
<ng-template #user>
  <div class="home-content mt-16" *ngIf="userModels$ | async as userModels">
    <app-user-preview-cart
      *ngFor="let user of userModels"
      [user]="user"
    ></app-user-preview-cart>
  </div>
</ng-template>
<!-- class="bg-[aliceblue] w-full rounded-3xl py-2 px-4 active:outline-none active:border-none" -->
