<mat-card class="mat-elevation-z1">
 <mat-card-header>
    <div mat-card-avatar>
    <mat-icon color="primay">person</mat-icon>
    </div>
 </mat-card-header>
 <mat-card-content>
  <div class="stack">
    <textarea
      class="text child"
      style="z-index:20;"
      placeholder="write" rows="4"> 
    </textarea>
  </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary">
      <mat-icon>tag</mat-icon>
    </button>
    <button mat-raised-button color="primary" style="border-radius:20px;">Tweet</button>
  </mat-card-actions>
</mat-card>
