<div class="p-4" style="border-bottom: 1px solid #eee">
  <div class="flex justify-start w-full h-max">
    <div class="w-16 mr-4">
      <div class="avatar">
        <div class="font-bold text-2xl text-gray-500">
          {{ localUser.fullName[0] }}
        </div>
      </div>
    </div>
    <textarea
      appAutoResize
      class="text"
      placeholder="What's happening..."
      [(ngModel)]="content"
      (click)="isOpen = true"
    ></textarea>
  </div>
  <mat-expansion-panel
    (opened)="isOpen = true"
    (closed)="isOpen = false"
    hideToggle
    [expanded]="isOpen"
    class="m-0 mat-elevation-z0"
  >
    <div class="mt-2">
      <mat-chip-list class="chip-list" #tagList>
        <mat-chip
          style="background-color: aliceblue"
          *ngFor="let tag of tags"
          (removed)="remove(tag)"
        >
          #{{ tag }}
     <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
        </mat-chip>
      </mat-chip-list>
      <div class="flex justify-start align-middle w-full">
        <mat-icon color="primary" class="self-center">tag</mat-icon>
        <input
          placeholder="tag"
          [matChipInputFor]="tagList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
        <button
          mat-flat-button
          [disabled]="content == ''"
          color="primary"
          (click)="tweet()"
        >
          Tweet
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
