<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <img src="http://placeimg.com/40/40/person" matCardAvatar />
    <mat-card-title>Sabit</mat-card-title>
    <mat-card-subtitle>@sib61</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <textarea appAutoResize class="text text-xl" placeholder="write"></textarea>
    <mat-chip-list class="chip-list" #tagList>
      <mat-chip
        style="background-color: aliceblue"
        *ngFor="let tag of tags"
        (removed)="remove(tag)"
      >
        #{{ tag }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <div
      style="
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
      "
    >
      <mat-icon color="primary">tag</mat-icon>
      <input
        placeholder="tag"
        [matChipInputFor]="tagList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </div>
    <button
      mat-raised-button
      matSuffix
      color="primary"
      style="border-radius: 20px; height: max-content"
    >
      Tweet
    </button>
  </mat-card-actions>
</mat-card>
