<div class="flex flex-col-reverse  md:flex-row justify-start w-100s overflow-hidden" [style.height.px]="innerHeight">

  <div class="w-full h-16 md:h-full md:w-1/4 z-50 glass border-t">
    <div class="h-full w-full flex flex-col items-center justify-between">
      <div class="w-full h-full">
        <app-side-navigation></app-side-navigation>
      </div>
    </div>
  </div>

  <div class="w-full h-[calc(100vh-128px)] md:h-full  md:w-3/4 lg:w-1/2 border border-gray-300 flex flex-col">
    <router-outlet></router-outlet>
  </div>

  <div class="w-1/4 hidden lg:flex justify-center items-center">
    <app-side-user></app-side-user>
  </div>
</div>
