<mat-card class="mat-elevation-z0 w-full h-full">
  <mat-card-header>
    <mat-card-title>Sign In </mat-card-title>
    <mat-card-subtitle>at Twitter</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="form"
      (submit)="submit()"
    >
      <mat-form-field>
        <input matInput placeholder="username" formControlName="username" />
        <mat-error>*username required</mat-error>
      </mat-form-field>

      <mat-form-field class="mb-2">
        <input matInput placeholder="password" formControlName="password" 
        [type]="hidden? 'password' : 'text' "/>
        <button mat-icon-button type="button" matSuffix (click)="hidden=!hidden"><mat-icon>
          {{
           hidden? "visibility_off":"visibility" 
          }}
        </mat-icon></button>
        <mat-error>*password required</mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Sign In
      </button>
    </form>
  </mat-card-content>
    <div class="horizontal-divider"></div>
      <button mat-button color="primary" class="w-full" routerLink="/account/forget-password">forget password?</button>

  <mat-card-footer class="bg-aliceblue">
    <div class="p-2 flex flex-col justify-center items-center" >
      <!-- <button mat-button color="primary" class="w-min" (click)="forgetPassword()">forget password?</button> -->
    <div class="flex justify-center items-center">
      do not have any account?
      <button mat-button color="primary" routerLink="/account/sign-up">sign up</button>
    </div>
    </div>
  </mat-card-footer>
</mat-card>
