<div class="home-container">
  <div
    class="absolute border-b border-b-gray-300 w-full top-16 lg:top-0 md:top-0 z-50"
  >
    <mat-toolbar class="glass">
      <mat-toolbar-row> Notification </mat-toolbar-row>
    </mat-toolbar>
  </div>

<div class="h-screen overflow-scroll pt-32 lg:pt-16 md:pt-16" *ngIf="notificationService.showNotification">
      <div
        *ngFor="
          let notification of notificationService.notificationThread$ | async
        "
        class=""
      >
        <mat-card class="mat-elevation-z0">
          <mat-card-title-group>
            <mat-card-title>{{ notification.fullName }}</mat-card-title>
            <mat-card-subtitle>{{
              notification.createdAt | timeago
            }}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            {{ notification.type }}
            <span *ngIf="notification.postId"> On Post </span>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>
