.tweet-feed-container {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  background-color: white;

  .appbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    border-bottom: 1px solid #eee;
  }

  .feed {
    // padding: 10px;
    padding-top: 70px;
    height: calc(100vh);
    overflow-y: scroll;
  }
}
