<ng-container *ngIf="tweetModels$|async as tweetModels">
<div class="w-full h-full relative">
  <div class="absolute top-0 border-b border-b-gray-300 w-full z-50">
    <mat-toolbar class="glass"> Tweet Feed </mat-toolbar>
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]=".4"
    [infiniteScrollThrottle]="300"
    (scrolled)="nextPage()"
    [scrollWindow]="false"
    class="h-[calc(100vh-64px)] md:h-screen w-full overflow-y-scroll"
  >
    <div class="h-16"></div>
    <app-create-tweet></app-create-tweet>
    <app-tweet-view
      cdkScrollable
      *ngFor="let tweetModel of tweetModels"
      (deleted)="delete(tweetModel)"
      [tweetModel]="tweetModel"
      @slideInRight
    >
    </app-tweet-view>
    <div class="flex justify-center align-middle" *ngIf="isLoading$ | async">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
    <div class="h-16 md:h-0"></div>
    <div class="w-full h-max mt-20  flex-col flex justify-center items-center" *ngIf="tweetModels.length===0 && !(isLoading$|async)">
        <div class="font-[Playball] flex justify-center items-center text-2xl md:text-3xl font-extrabold text-gray-600"><span><img src="assets/twitter48.svg" alt=""></span>WELCOME TO</div> 
       <div class="font-[Playball] text-3xl md:text-4xl font-extrabold text-primary">LEARNATHON TWEETER</div> 
       <div class="font-[Playball] text-3xl md:text-4xl font-extrabold text-gray-600"># Search Tweets and People</div> 
       <div class="font-[Playball] text-3xl md:text-4xl font-extrabold text-gray-600"># Follow People Around You</div> 
       <div class="font-[Playball] text-3xl md:text-4xl font-extrabold text-gray-600"># Build Your Network</div> 
    </div>
  </div>
</div>
