<div class="home-container">
  <mat-toolbar class="appbar"> Tweet Feed </mat-toolbar>
  <div class="home-content pt-16">
    <app-create-tweet></app-create-tweet>
    <app-tweet-view
      *ngFor="let tweetModel of tweetModels$ | async"
      [tweetModel]="tweetModel"
    ></app-tweet-view>
  </div>
</div>
<!-- *ngFor="let tweetModel of tweetService.getTimeline() | async" -->
<!-- infiniteScroll -->
<!-- [infiniteScrollDistance]="1" -->
<!-- [infiniteScrollThrottle]="2" -->
<!-- [infiniteScrollUpDistance]="1" -->
<!-- [scrollWindow]="false" -->
<!-- (scrolled)="onScrollDown()" -->
<!-- (scrolledUp)="onScrollUp()" -->
