<div class="w-full h-full relative">
  <div class="absolute border-b border-b-gray-300 w-full top-16 md:top-0 z-50">
    <mat-toolbar class="glass"> Tweet Feed </mat-toolbar>
  </div>
  <div
    infiniteScroll
    [infiniteScrollDistance]=".4"
    [infiniteScrollThrottle]="300"
    (scrolled)="nextPage()"
    [scrollWindow]="false"
    class="h-screen overflow-scroll"
    itemSize="250"
    #scroller
  >
    <div class="h-32 lg:h-16 md:h-16"></div>
    <app-create-tweet></app-create-tweet>
    <app-tweet-view
      cdkScrollable
      *ngFor="let tweetModel of tweetModels$ | async"
      [tweetModel]="tweetModel"
      @slideInRight
    >
    </app-tweet-view>
    <div class="flex justify-center align-middle" *ngIf="isLoading$ | async">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
  </div>
</div>
