
<div class="flex w-full h-max p-4 justify-between">
  <div class="flex cursor-pointer" [routerLink]="!isBlockedUser?'/home/profile/'+user.id:'/#'">
  <div class="avatar w-12 mr-4">
    <div class="text-lg">{{user.fullName[0]}}</div>
  </div>
    <div class="flex flex-col">
    <div class="text-lg">{{user.fullName}}</div>
    <div class="text-gray-700">@{{user.userName}}</div>
  </div>
  </div>
  <button mat-stroked-button color="primary" *ngIf="buttonText$|async as buttonText" (click)="onAction(buttonText)" >{{buttonText}}</button>
</div>
<mat-divider></mat-divider>
