<!-- <mat-card class="mat-elevation-z0" style="cursor: pointer;"  >
  <mat-card-header class="flex justify-between">
    <div class="avatar" matCardAvatar  [routerLink]="'/home/profile/'+user.id">
      <div class="font-bold text-2xl">{{ user.fullName[0] }}</div>
    </div>
      
    <mat-card-title  [routerLink]="'/home/profile/'+user.id">{{ user.fullName }}</mat-card-title>
    <mat-card-subtitle [routerLink]="'/home/profile/'+user.id">@{{ user.userName }}</mat-card-subtitle>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="onAction()" class="flex">
        <div class="flex justify-evenly align-middle w-full">
          <mat-progress-spinner
            mode="indeterminate"
            diameter="20"
            color="accent"
            *ngIf="loading"
            style="align-self: center"
          ></mat-progress-spinner>
            
          <div>
            {{ buttonText }}
          </div>
        </div>
      </button>
    </mat-card-actions>
  </mat-card-header>
</mat-card> -->

<div class="flex w-full h-max p-4 justify-between">
  <div class="flex cursor-pointer" [routerLink]="!isBlockedUser?'/home/profile/'+user.id:'/#'">
  <div class="avatar w-12 mr-4">
    <div class="text-lg">{{user.fullName[0]}}</div>
  </div>
    <div class="flex flex-col">
    <div class="text-lg">{{user.fullName}}</div>
    <div class="text-gray-700">@{{user.userName}}</div>
  </div>
  </div>
  <button mat-button color="primary" *ngIf="buttonText$|async as buttonText" (click)="onAction(buttonText)" >{{buttonText}}</button>
</div>
<mat-divider></mat-divider>
