<div *ngIf="page$ | async as page">
  <div class="px-3 pt-3 text-lg">
    <span>
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
    {{ page.title }}
  </div>
  <div class="px-3 text-md text-gray-700">{{ page.subtitle }}</div>
  <!-- <mat-progress-bar mode="indeterminate" *ngIf="(loading$|async)"></mat-progress-bar> -->
  <div [ngSwitch]="page.index" class="p-3 py-7">
    <form [formGroup]="emailForm" *ngSwitchCase="1">
      <mat-form-field class="w-full">
        <input matInput formControlName="email" placeholder="email" />
        <mat-error>*invalid email</mat-error>
      </mat-form-field>
    </form>
    <form *ngSwitchCase="2" [formGroup]="codeForm">
      <mat-form-field class="w-full"><input matInput formControlName="code" placeholder="varification code" />
        <mat-error>*minimum length is 6</mat-error>
      </mat-form-field>
    </form>
    <form *ngSwitchCase="3" [formGroup]="passwordForm">
      <mat-form-field class="w-full"><input matInput formControlName="password" placeholder="new password" />
        <mat-error>password must include uppercase,lowercase and numbers</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full"><input matInput formControlName="repeatedPassword" placeholder="repeat password" />
        <mat-error>password does not match</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="flex justify-between w-full bg-aliceblue">
    <button mat-button (click)="previous(page.index)" [disabled]="page.index == 1">
      previous
    </button>
    <button mat-button (click)="next(page.index)" [disabled]="nextDisabled(page.index)">
      {{ page.next }}
    </button>
  </div>
</div>
