<mat-card>
  <mat-card-header>
    <img src="http://placeimg.com/40/40/man" matCardAvatar />
    <mat-card-title>{{ tweetModel.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ tweetModel.createdAt | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span>
      {{ tweetModel.content }}
    </span>
    <mat-chip-list class="chip-list my-2" #tagList>
      <mat-chip style="background-color: aliceblue" *ngFor="let tag of tags">
        #{{ tag }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-footer>
    <!-- <div [class.text-red-500]="isLiked"> -->
    <!--   <button mat-icon-button (click)="like()" class="font-thin"> -->
    <!--     <mat-icon>{{ isLiked ? "favorite" : "favorite_outline" }}</mat-icon> -->
    <!--   </button> -->
    <!--   {{ likes }} -->
    <!-- </div> -->
    <!-- <div> -->
    <!--   <button mat-icon-button (click)="commnet()"> -->
    <!--     <mat-icon class="material-icon-outlined">chat_bubble_outline</mat-icon> -->
    <!--   </button> -->
    <!--   {{ comments }} -->
    <!-- </div> -->
    <!-- <div [class.text-green-500]="isRetweeted"> -->
    <!--   <button mat-icon-button (click)="retweet()"> -->
    <!--     <mat-icon>ios_share</mat-icon> -->
    <!--   </button> -->
    <!--   {{ retweets }} -->
    <!-- </div> -->

    <mat-expansion-panel
      [expanded]="isExpanded"
      [disabled]="s"
      (expandedChange)="change()"
      class="mat-elevation-z0 w-full"
    >
      <mat-expansion-panel-header class="w-full">
        <mat-panel-description class="flex justify-evenly w-full">
          <div [class.text-red-500]="isLiked">
            <button mat-icon-button (click)="like()" class="font-thin">
              <mat-icon>{{
                isLiked ? "favorite" : "favorite_outline"
              }}</mat-icon>
            </button>
            {{ likes }}
          </div>
          <div>
            <button mat-icon-button (click)="commnet()">
              <mat-icon class="material-icon-outlined"
                >chat_bubble_outline</mat-icon
              >
            </button>
            {{ comments }}
          </div>
          <div [class.text-green-500]="isRetweeted">
            <button mat-icon-button (click)="retweet()">
              <mat-icon>ios_share</mat-icon>
            </button>
            {{ retweets }}
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput class="w-full" placeholder="write your comment" />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-card-footer>
</mat-card>
