<ng-container *ngIf="(blockList$|async) as blockList">
 <div 
    class="h-[calc(100vh-128px)] md:h-[calc(100vh-64px)] w-full overflow-y-scroll"
    infiniteScroll
    [infiniteScrollDistance]=".4"
    [infiniteScrollThrottle]="300"
    (scrolled)="nextPage()"
    [scrollWindow]="false"
 >
    <app-user-preview-cart *ngFor="let user of blockList" [user]="user" [isBlockedUser]="true" (unblocked)="unblock(user)"></app-user-preview-cart>
    <div class="flex justify-center align-middle" *ngIf="loading$ | async">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
      ></mat-progress-spinner>
    </div>
      <div class="h-16 md:h-0"></div>
    <div class="w-full  h-full p-20" *ngIf="blockList.length<=0 && !(loading$|async)">
    <img src="assets/no_data.svg"  alt="">
    </div>
      <div class="h-16"></div>
 </div>


 
