<mat-card class="mat-elevation-z0 h-full w-full">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [ngSwitch]="pageNumber">
    <form [formGroup]="form">
    <div *ngSwitchCase="1"> 
      <mat-form-field class="w-full">
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>
    </div>
    <div *ngSwitchCase="2"> 
       <mat-form-field class="w-full">
        <input matInput placeholder="varification code" formControlName="code">
      </mat-form-field>
      </div>
    <div *ngSwitchCase="3"> 
       <mat-form-field class="w-full">
        <input matInput placeholder="password" formControlName="password">
       </mat-form-field>
       <mat-form-field class="w-full">
        <input matInput placeholder="repeat password" formControlName="repeatedPassword">
       </mat-form-field>
      </div>
    </form>
  </mat-card-content>
    <mat-card-footer>
    <div class="flex justify-between w-full">
    <button mat-button (click)="next()" [disabled]="pageNumber===1">previous</button>
    <button mat-button (click)="previous()" [disabled]="pageNumber===3">next</button>
    </div>
    </mat-card-footer>
</mat-card>
