<div class="home-container">
  <div class="absolute border-b border-b-gray-300 w-full top-16  md:top-0 z-50" >
  <mat-toolbar class="glass">
    <mat-toolbar-row class="border-b border-b-gray-300"> Network </mat-toolbar-row>
    <!-- <mat-toolbar-row class="tabbarrow">
      <nav
        mat-tab-nav-bar
        mat-stretch-tabs
        [tabPanel]="tabPanel"
        class="align-baseline w-full"
      >
        <a
          mat-tab-link
          class="w-1/2"
          *ngFor="let link of links"
          [routerLink]="link.route"
          (click)="activeLink = link"
          [active]="activeLink === link"
        >
          {{ link.label }}
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </mat-toolbar-row> -->
  </mat-toolbar>
  </div>
  <div class="home-content pt-32 md:pt-16"  >
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Followers"> 
         <app-follower-list></app-follower-list>    
       </mat-tab>
       <mat-tab label="Followings"> 
        <app-following-list></app-following-list>   
       </mat-tab>
       <mat-tab label="Blocked"> 
        <app-block-list></app-block-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

